<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" >
    <parameter name="browser" value="chrome" />
    <listeners>
        <listener class-name="com.vicarius.automation.listeners.ExtentListener" />
    </listeners>

    <test name="Vicarius test">
        <classes>
            <class name="com.vicarius.automation.MainRunnerTest"/>
        </classes>
    </test>

</suite> 